<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PingerProjectUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIpDns" value="server.osblc.fr"/>
    <add key="ServerIpV4" value="80.15.195.37"/>   
    <add key="StatusFilePath" value="status.html"/>
    <add key="RewriteHTMLTimer" value="6"/>
    <add key="TeamspeakTimer" value="20"/>
    <add key="VanillaTimer" value="3"/>
    <add key="FeedTheBeastTimer" value="20"/>
    <add key="FTPTimer" value="1"/>
    <add key="CounterStrikeTimer" value="20"/>
    <add key="CheckFTPbyProcess" value="true"/>
    <add key="AlertByMailWhenTSDown" value="false"/>
    <add key="GenerateTeamspeakStatsFile" value="false"/>
  </appSettings>
  <userSettings>
    <PingerProjectUI.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>zizi</value>
      </setting>
    </PingerProjectUI.Properties.Settings>
  </userSettings>
</configuration>